body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: white;
  }
  
  .background {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-right: 200px;
  }
  
  .image-container {
    height: 500px;
    width: 400px;
    background-image: url('/images/login/login.avif');
    background-size: cover;
    border-radius: 10px;
    margin-right: 200px;
    border: 2px solid black;
  }
  
  .logo {
    height: 200px;
    width: 300px;
    background-image: url('/react/public/logo/LOGO1.jpg');
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .submit-btn {
    font-family: 'Times New Roman', Times, serif;
  }
  
  #option {
    text-align: center;
    margin: 10px 0;
    position: relative;
  }
  
  #option::before,
  #option::after {
    position: absolute;
    content: '';
    width: 40%;
    height: 2px;
    background: #b6b6b6;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
  }
  
  #option::before {
    left: 0;
  }
  
  #option::after {
    right: 0;
  }
  