.benefits-section {
    padding: 50px 0;
}
.benefits-section{
background-color: #f1ebe5;
}
.benefits-section h4 {
margin: 10px 0; /* Adjust this value for desired margin */
}

.bheading{
    font-size: 45px;
    color: black;
}