.heading {
  margin-top: 20px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.text-section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  max-width: 700px; /* Restrict the maximum width */
  height: auto; /* Ensure the height scales proportionally */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Optional: border for styling */
  border-radius: 8px; /* Optional: rounded corners */
}

img{
  height: 500px;
}