.problem-solution-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}
<<<<<<< HEAD
=======
/* styles.css */
>>>>>>> d844627846a6213c5474937369be88881d47f040
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap');

h1,h2,h3 {
  font-family: 'Cormorant SC', serif;
}

a,p,h4,h5 {
<<<<<<< HEAD
  font-family: 'Poppins', sans-serif;
}
=======
  font-family: 'Poppins', sans-serif;
}
>>>>>>> d844627846a6213c5474937369be88881d47f040
