.problem-solution-section {
    padding: 50px 0;
    background-color: #f9f9f9;
}
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap');

h1,h2,h3 {
  font-family: 'Cormorant SC', serif;
}

a,p,h4,h5 {
  font-family: 'Poppins', sans-serif;
}
