.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.9; 
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 30px;
    border-radius: 10px;
}

.upbtn:hover{
    background-color: #191919;
    color: white;
}

.upbtn{
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600&family=Poppins:wght@300;400;500;600&display=swap');
